a {
    color: $clr-txt-dark;
    text-decoration: none;
  }

body {
    font-size: 14px;
    box-sizing: border-box;
    background: $bg-clr-txt;
    color: $clr-txt-dark;
    padding: 0;
    margin: 0;
  }

h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
  }
  
h2 {
    padding: 1rem 0 1rem 0;
    font-size: 1.1rem;
    text-align: center;
  }

img {
    padding: 0;
    width: 100%;
  }
  

p {
    padding: 0rem 1rem; 
  }

  
.italic {
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
  }

.flex-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

/* tratamiento imágenes */
     /* el archivo background image es 84% mas pequeño
     * lo cual mejora la velocidad de carga en mobile*/
.img-home{
    background-image: url("../img/home-mbl.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height:90vh;
}

.img-home-pg {
  width:100%;
  height:auto;
}

.img-biografia{
  max-width: 100%;
  height: auto;
}



/* CAMBIOS A ESTILOS DE BOOSTRAP */
.navbar-toggler {
    border: 10px;
    padding:0;
  }
  
.navbar-toggler:focus {
    /* le quito ese shadow horrible que le agrega al menu*/
    box-shadow: none;
  }
  
.navbar-brandimg {
    padding: 0px;
  }



/* Desktop ------------------------------- */

@media all and (min-width: 768px) {

  // main {
  //   padding: 1em;
  // }

    body {
      font-size: 18px;
    }
  
    h1 {
      font-size: 2rem;
      padding: 2rem 01rem;
    }
  
    h2 {
      font-size:1.6rem;
      padding: 2rem 0 1.5rem 1rem;
    }
  
    p {
        padding: 1rem 5rem;
        margin-bottom: 1rem;
      }

    .logo {
      order: 0;
      content: url("../logos/BertaRojas6.png");
    }
     
    .img-main {
      display: flex;
      border-radius: 8px;
      width: 45%;
      height: auto;
    }

    .footer {
      font-size: 1.4rem;
      justify-content: space-around;
      padding: 0.5em;
      margin-right: 3em;

      li {
        padding-right: 1px;
      }     

    }  
  
    /*boostrap*/
    .nav-link {
      display :row;
      font-size: 1.2rem;
      }

      #navbar ul li.active {
        background:transparent;
        background-image: none;
        border-color: transparent;
    }
    
    #navbar ul li:hover {        // to overwrite when you :hover the list items
        background:transparent;
        background-image: none;
        border-color: transparent;
    }

  }
  
